.product
{
    display: inline-block;
    margin: auto;
    font-size: 25px;
    width: 24.8%;
    padding-bottom: 10px;
}

.product-price
{
    margin-bottom: 5px;
}

.product-desc
{
    margin: 0;
}