@{
    Category category = ViewBag.category;
}

@model IEnumerable<Product>;

<h1>@category.Name</h1>
<ul>
    @foreach(Product product in Model)
    {
        <li> <b>@product.Name.</b> @product.Description <b>@product.Price kr</b> </li>
    }
</ul>
 
<a href="">Uppdatera</a>
<a href="/products/index">Tillbaka</a>