<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js" defer></script>
    <title>Products</title>
</head>
<body id="products-root">

    @model IEnumerable<Category>

    <h1>Produkter</h1>
    <ul>
        @foreach (Category category in Model)
        {
            <li> <a href="/products/category/@category.CategoryId">@category.Name</a> </li>
        }
        
    </ul>
    
    <a href="/products/newproductform">Ny produkt</a>
    <a href="/products/updateproductform">Uppdatera</a>

</body>
</html>
