@model IEnumerable<Category>

<form asp-action="SaveNewProduct" method="post" role="form">

    <div>
        <label for="Name">Namn:</label> <br>
        <input type="text" name="name">
    </div>

    <div>
        <label for="Description">Beskrivning:</label> <br>
        <input type="text" name="description">
    </div>

    <div>
        <label for="Price">Pris:</label> <br>
        <input type="text" name="price">
    </div>

    <div>
        <label for="CategoryId">Välj kategori:</label> <br>
        <select name="CategoryId">
            @foreach (Category category in Model)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <div>
        <button type="submit">Spara</button>
    </div>

    @if (TempData["SuccessfulAdditionMessage"] != null)
    {
        @TempData["SuccessfulAdditionMessage"];
    }

</form>